@charset "UTF-8";
:root {
  --wwwlongtermcareorkralto: rgba(221, 221, 221, 1);
  --www-longtermcare-or-kr-malgun-gothic-bold-14-88-font-family: "Malgun Gothic", Helvetica;
  --www-longtermcare-or-kr-malgun-gothic-bold-14-88-font-weight: 700;
  --www-longtermcare-or-kr-malgun-gothic-bold-14-88-font-size: 14.8828125px;
  --www-longtermcare-or-kr-malgun-gothic-bold-14-88-letter-spacing: 0px;
  --www-longtermcare-or-kr-malgun-gothic-bold-14-88-line-height: 18px;
  --www-longtermcare-or-kr-malgun-gothic-bold-14-88-font-style: normal;
  --www-longtermcare-or-kr-malgun-gothic-bold-15-75-font-family: "Malgun Gothic", Helvetica;
  --www-longtermcare-or-kr-malgun-gothic-bold-15-75-font-weight: 700;
  --www-longtermcare-or-kr-malgun-gothic-bold-15-75-font-size: 15.75px;
  --www-longtermcare-or-kr-malgun-gothic-bold-15-75-letter-spacing: 0px;
  --www-longtermcare-or-kr-malgun-gothic-bold-15-75-line-height: 35px;
  --www-longtermcare-or-kr-malgun-gothic-bold-15-75-font-style: normal;
  --www-longtermcare-or-kr-malgun-gothic-bold-16-font-family: "Malgun Gothic", Helvetica;
  --www-longtermcare-or-kr-malgun-gothic-bold-16-font-weight: 700;
  --www-longtermcare-or-kr-malgun-gothic-bold-16-font-size: 16px;
  --www-longtermcare-or-kr-malgun-gothic-bold-16-letter-spacing: 0px;
  --www-longtermcare-or-kr-malgun-gothic-bold-16-line-height: 35px;
  --www-longtermcare-or-kr-malgun-gothic-bold-16-font-style: normal;
  --www-longtermcare-or-kr-malgun-gothic-bold-18-font-family: "Malgun Gothic", Helvetica;
  --www-longtermcare-or-kr-malgun-gothic-bold-18-font-weight: 700;
  --www-longtermcare-or-kr-malgun-gothic-bold-18-font-size: 18px;
  --www-longtermcare-or-kr-malgun-gothic-bold-18-letter-spacing: 0px;
  --www-longtermcare-or-kr-malgun-gothic-bold-18-line-height: 18px;
  --www-longtermcare-or-kr-malgun-gothic-bold-18-font-style: normal;
  --www-longtermcare-or-kr-malgun-gothic-regular-12-7-font-family: "Malgun Gothic", Helvetica;
  --www-longtermcare-or-kr-malgun-gothic-regular-12-7-font-weight: 400;
  --www-longtermcare-or-kr-malgun-gothic-regular-12-7-font-size: 12.6953125px;
  --www-longtermcare-or-kr-malgun-gothic-regular-12-7-letter-spacing: -0.5px;
  --www-longtermcare-or-kr-malgun-gothic-regular-12-7-line-height: 18px;
  --www-longtermcare-or-kr-malgun-gothic-regular-12-7-font-style: normal;
  --www-longtermcare-or-kr-malgun-gothic-regular-12-8-font-family: "Malgun Gothic", Helvetica;
  --www-longtermcare-or-kr-malgun-gothic-regular-12-8-font-weight: 400;
  --www-longtermcare-or-kr-malgun-gothic-regular-12-8-font-size: 12.796875px;
  --www-longtermcare-or-kr-malgun-gothic-regular-12-8-letter-spacing: -0.5px;
  --www-longtermcare-or-kr-malgun-gothic-regular-12-8-line-height: 18px;
  --www-longtermcare-or-kr-malgun-gothic-regular-12-8-font-style: normal;
  --www-longtermcare-or-kr-malgun-gothic-regular-13-font-family: "Malgun Gothic", Helvetica;
  --www-longtermcare-or-kr-malgun-gothic-regular-13-font-weight: 400;
  --www-longtermcare-or-kr-malgun-gothic-regular-13-font-size: 13px;
  --www-longtermcare-or-kr-malgun-gothic-regular-13-letter-spacing: -0.5px;
  --www-longtermcare-or-kr-malgun-gothic-regular-13-line-height: 18px;
  --www-longtermcare-or-kr-malgun-gothic-regular-13-font-style: normal;
  --www-longtermcare-or-kr-malgun-gothic-regular-15-font-family: "Malgun Gothic", Helvetica;
  --www-longtermcare-or-kr-malgun-gothic-regular-15-font-weight: 400;
  --www-longtermcare-or-kr-malgun-gothic-regular-15-font-size: 15px;
  --www-longtermcare-or-kr-malgun-gothic-regular-15-letter-spacing: 0px;
  --www-longtermcare-or-kr-malgun-gothic-regular-15-line-height: 12px;
  --www-longtermcare-or-kr-malgun-gothic-regular-15-font-style: normal;
  --www-longtermcare-or-kr-semantic-emphasis-font-family: "Malgun Gothic", Helvetica;
  --www-longtermcare-or-kr-semantic-emphasis-font-weight: 700;
  --www-longtermcare-or-kr-semantic-emphasis-font-size: 16px;
  --www-longtermcare-or-kr-semantic-emphasis-letter-spacing: 0px;
  --www-longtermcare-or-kr-semantic-emphasis-line-height: 24px;
  --www-longtermcare-or-kr-semantic-emphasis-font-style: normal;
  --www-longtermcare-or-kr-semantic-heading-3-font-family: "Malgun Gothic", Helvetica;
  --www-longtermcare-or-kr-semantic-heading-3-font-weight: 700;
  --www-longtermcare-or-kr-semantic-heading-3-font-size: 17.859375px;
  --www-longtermcare-or-kr-semantic-heading-3-letter-spacing: -0.5px;
  --www-longtermcare-or-kr-semantic-heading-3-line-height: 18px;
  --www-longtermcare-or-kr-semantic-heading-3-font-style: normal;
  --www-longtermcare-or-kr-semantic-input-font-family: "Malgun Gothic", Helvetica;
  --www-longtermcare-or-kr-semantic-input-font-weight: 400;
  --www-longtermcare-or-kr-semantic-input-font-size: 14.8828125px;
  --www-longtermcare-or-kr-semantic-input-letter-spacing: 0px;
  --www-longtermcare-or-kr-semantic-input-line-height: normal;
  --www-longtermcare-or-kr-semantic-input-font-style: normal;
  --www-longtermcare-or-kr-semantic-item-font-family: "Malgun Gothic", Helvetica;
  --www-longtermcare-or-kr-semantic-item-font-weight: 700;
  --www-longtermcare-or-kr-semantic-item-font-size: 15.75px;
  --www-longtermcare-or-kr-semantic-item-letter-spacing: 0px;
  --www-longtermcare-or-kr-semantic-item-line-height: 16px;
  --www-longtermcare-or-kr-semantic-item-font-style: normal;
  --www-longtermcare-or-kr-semantic-link-font-family: "Malgun Gothic", Helvetica;
  --www-longtermcare-or-kr-semantic-link-font-weight: 700;
  --www-longtermcare-or-kr-semantic-link-font-size: 18px;
  --www-longtermcare-or-kr-semantic-link-letter-spacing: 0px;
  --www-longtermcare-or-kr-semantic-link-line-height: 53px;
  --www-longtermcare-or-kr-semantic-link-font-style: normal;
  --www-longtermcare-or-kr-semantic-strong-font-family: "Malgun Gothic", Helvetica;
  --www-longtermcare-or-kr-semantic-strong-font-weight: 700;
  --www-longtermcare-or-kr-semantic-strong-font-size: 14.8828125px;
  --www-longtermcare-or-kr-semantic-strong-letter-spacing: 0px;
  --www-longtermcare-or-kr-semantic-strong-line-height: 55px;
  --www-longtermcare-or-kr-semantic-strong-font-style: normal;
}
